body {
    background-color: #0c0c0c;
}
.box1 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border: solid 4px white;
    border-radius: 10px 10px 30px 10px;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
}
/*
.box2 {
    border: solid 0px black;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 300px;
    right: 0px;
    background-color: #964734;
} */
/* .text1:hover {
    cursor: pointer;
}
.text1 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: solid 1px black;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 450px;
    background-color: #023950;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: solid 1px black;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 650px;
    background-color: #023950;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 {
    cursor: pointer;
}
.text3 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: solid 1px black;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 850px;
    background-color: #023950;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text3:hover {
    cursor: pointer;
} */
.live {
    border: solid 4px white;
    border-radius: 10px 10px 30px 30px;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 500px;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: #0c0c0c;
    transition: border-radius 0.2s ease-in;
}
.live:hover {
    cursor: pointer;
    border-radius: 25px 25px 50px 50px;
}
.leader {
    /* border: solid 2px red; */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 40px;
    /* background-color: #964734; */
}
.leader p {
    margin: 0;
}
.chicago {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    will-change: transform;
    color: white;
}
.chicago:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.london {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.london:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.dubai {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.dubai:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.rome {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.rome:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.paris {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.paris:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.ljubljana {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.ljubljana:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.zagrep {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.zagrep:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.tirana {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color:#0c0c0c;
    color: white;
}
.tirana:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.frankfurt {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.frankfurt:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
.amsterdam {
    border: solid 2px white;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, transform 0.2s ease-in-out;
    background-color: #0c0c0c;
    color: white;
}
.amsterdam:hover {
    cursor: pointer;
    background-color: #171717;
    transform: translate(10%);
}
/* .dublin {
    border: solid 2px black;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 820px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    background-color: #00284d;
}
.dublin:hover {
    cursor: pointer;
    background-color: #003566;
} */
.print {
    /* border: solid 1px red; */
    height: 600px;
    width: 1400px;
    position: absolute;
    top: 120px;
    left: 450px;
    color: black;
    font-size: 30px;
    display: inline-block;
    transform: translateY(10%);
    animation: slide-up 500ms ease-in-out forwards;
    z-index: 2;
}
@keyframes slide-up {
    from {
        transform: translateY(7%); /* Start off-screen below */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End at the starting position */
        opacity: 1;
    }
}
.p1 {
    position: absolute;
    top: 30px;
    left: 50px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: #0c0c0c;
    height: 130px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}
.p2 {
    position: absolute;
    top: 30px;
    left: 600px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: #0c0c0c;
    height: 130px;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}
.p3 {
    position: absolute;
    top: 260px;
    left: 50px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: #0c0c0c;
    height: 130px;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}
.p4 {
    position: absolute;
    top: 500px;
    left: 50px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: #0c0c0c;
    height: 130px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}
.p5 {
    position: absolute;
    top: 260px;
    left: 600px;
    border: solid 3px white;
    border-radius: 20px;
    background-color:#0c0c0c;
    height: 130px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}
.p6 {
    position: absolute;
    top: 500px;
    left: 600px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: #0c0c0c;
    height: 130px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

.cityImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 145px;
    left: 670px;
}

.countryImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 370px;
    left: 670px;
}

.tempImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 610px;
    left: 670px;
}

.regImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 145px;
    left: 1220px;
}

.weaImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 370px;
    left: 1220px;
}

.locImg {
    animation: slide-up 500ms ease-in-out forwards;
    position: absolute;
    top: 610px;
    left: 1220px;
}

@media (max-width: 1618px) {
    .box1 {
        width: 90%;
        border-radius: 10px 10px 30px 30px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .live {
        width: 80%;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .leader {
        gap: 15px;
        width: 90%;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
    }

    .chicago {
        width: 80%;
    }

    .chicago:hover {
        transform: none;
    }

    .london {
        width: 80%;
    }

    .london:hover {
        transform: none;
    }

    .dubai {
        width: 80%;
    }

    .dubai:hover {
        transform: none;
    }

    .rome {
        width: 80%;
    }

    .rome:hover {
        transform: none;
    }

    .paris {
        width: 80%;
    }

    .paris:hover {
        transform: none;
    }

    .ljubljana {
        width: 80%;
    }

    .ljubljana:hover {
        transform: none;
    }

    .zagrep {
        width: 80%;
    }

    .zagrep:hover {
        transform: none;
    }

    .tirana {
        width: 80%;
    }

    .tirana:hover {
        transform: none;
    }

    .frankfurt {
        width: 80%;
    }

    .frankfurt:hover {
        transform: none;
    }

    .amsterdam {
        width: 80%;
    }

    .amsterdam:hover {
        transform: none;
    }

    .print {
        /* border: solid 1px red; */
        width: 90%;
        height: 1400px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 1200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p1 {
        width: 100%;
        position: unset;
    }

    .cityImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 1180px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p3 {
        width: 100%;
        position: unset;
    }

    .countryImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 1430px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p4 {
        width: 100%;
        position: unset;
    }

    .tempImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 1670px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p2 {
        width: 100%;
        position: unset;
    }

    .regImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 1910px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p5 {
        width: 100%;
        position: unset;
    }

    .weaImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 2150px;
        left: 50%;
        transform: translateX(-50%);
    }

    .p6 {
        width: 100%;
        position: unset;
        text-align: center;
    }

    .locImg {
        animation: slide-up2 500ms ease-in-out forwards;
        position: absolute;
        top: 2390px;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes slide-up2 {
        from {
            transform: translateY(7%) translateX(-50%); /* Start off-screen below */
            opacity: 0;
        }
        to {
            transform: translateY(0) translateX(-50%); /* End at the starting position */
            opacity: 1;
        }
    }
}